body {
    width: 100%;
    margin: 0%;
    background-color:rgba(7, 44, 163, 0.9);
}

header {
    font-size: 100px;
    text-align: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom:40px;
    font-weight: bold;
    font-style: italic;
    background: url(img/finn_banner2.jpg);
    background-position-y: -210px;
}
#bevezet {
    background-color: aliceblue;
}
#bevezet h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0%;

}
#bevezet p {
    text-align: justify;

}
#jellegzetessegek{
    width: 100%;
}
#tomb {
    float: left;
    width: 33%;
    background-color: wheat;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#tomb:last-child {
    margin-right: 0px;
    padding: 0%;
}
#tomb:first-child {
    margin-left: 5px;
}
#tomb p {
    text-align: center;
}
.clear {
    clear: both;
}