body{
    background-image: url(3zsaszlo.jpg);
    background-size: cover;
}

#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    background-color: blue;
    min-height: 1500px;
}