body{
    background-image: url(3zsaszlo.jpg);
    background-size: cover;
}

#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    background-color: blue;
    min-height: 1500px;
}

#banner {
    height: 250px;
    background: url('banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#banner h1{
    text-align: center;
    color: white;
}