body{
    background-image: url(img/norveg.png);
    border-image-repeat: repeat;
}

#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgba(255,255,255, 0.95);
    min-height: 1900px;
}

#banner {
    height: 350px;
    width: 100%;
    background: url('img/norvegb.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -320px;
}

#banner h1{
    padding: 200px;
    text-align: center;
    color: red;
    font-size: 100px;
    font-weight: bolder;
    font-family: 'fantasy', 'impact';
}

#navbar{
    width: 100%;
}

#navbar ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    background-color: black;
    overflow: hidden;
    justify-content: center;
    display: flex;
}

#navbar ul li {
    height: 50px;
    width: calc((100%-8px) / 3);
    border-left: 2px solid red;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

#navbar ul li:last-child{
    border-right: 2px solid red;
}

#navbar ul li a {
    display: block;
    padding: 15px 0 13px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'fantasy', 'impact';
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

#container1{
    float: left;
    width: calc(100% * 0.4 - 2px);
    border: 1px solid black;
    height: 800px;
    background-color: bisque;
}

#container1 h1{
    text-align: center;
}

#container2{
    float: left;
    width: calc(100% * 0.6 - 2px);
    height: 800px;
    border: 1px solid black;
    background-color: wheat;
}

#container2 h1{
    text-align: center;
    padding-left: 100px;
}

#terkep{
    height: 700px;
    width: calc(100% - 40px);
    padding-left: 10px;
}

.box{
    margin: 1px 5px 1px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.boxpiros{
    background-color: red;
}

.boxfeher{
    background-color: white;
}

.boxkek{
    background-color: blue;
}

.clear{
    clear: both;
    margin-bottom: 10px;
}

.kep{
    border: 1px solid black;
    width: calc(25% - 5px);
    float: left;
    position: relative;
    height: 300px;
}

.kep img{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-size: cover;
    padding: 5px;
}

.overlay{
    position: absolute;
    bottom: 0;
    height: 0;
    background-color: red;
    width: 100%;
    transition: .5s ease;
    overflow: hidden;
    opacity: 0;
}

.kep:hover .overlay{
    height: 100%;
    opacity: 100%;
}

.text{
    font-size: 50px;
    color: white;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}