body{
    background: url('svedorszag_kepek/SVÉD-ZÁSZLÓ.jpg');
    background-size: cover;
    margin: 0;
}

#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: blue;
    min-height: 1200px;
}

#banner {
    height: 400px;
    width: 100%;
    background: url('svedorszag_kepek/tajkep2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -250px;
}

#banner h1{
    padding: 150px;
    text-align: center;
    color: black;
    font-size: 100px;
    font-weight: bolder;
}

#navbar{
    width: 100%;
}

#navbar ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    background-color: aquamarine;
    overflow: hidden;
    justify-content: center;
    display: flex;
}

#navbar ul li {
    height: 120px;
    width: calc(100% / 3);
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#navbar ul li:last-child {
    border-right: 2px solid black;
}

#navbar ul li a {
  display: block;
  padding: 50px 0px 50px;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}

#navbar ul li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.norvegia{
    background-color: red;
    background-position-y: -150px;
}

.norvegia a {
    color: blue;
}

.svedorszag{
    background-color: blue;
    background-position-y: -100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.svedorszag a {
    color: yellow;
}

.finnorszag{
    background-color: white;
    background-position-y: -110px;
    background-repeat: no-repeat;
    background-size: cover;
}

.finnorszag a {
    color: blue;
}