body {
    position: relative;
    width: 100%;
    background: url(finn_img/finn_sport2.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    height: 1210px;
    margin: 0%;
    margin-bottom: 20px;

}
#hatter {
    position: absolute;
    background-color: rgba(236, 231, 170, 0.5);
    height: 100%;
    margin: 10px;
}
#gombok a {
    float: left;
    text-decoration: none;
    margin: 5px;
    display: block;
    padding: 15px 20px;
    background-color: rgb(219, 198, 103);
    width: 150px;
}
.vissza{
    color: black;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
#gombok a:hover {
    background-color: rgb(224, 178, 122);
}
h2 {
    font-size: 70px;
    padding: 20px;
    margin: 0%;
}
img {
    padding: 10px;
    width: 15%;
}
dt {
    font-size: 40px;
    padding: 10px;
    padding-top: 30px;
    font-style: italic;
}
dd {
    font-size: 20px;
    text-align: justify;
    padding: 10px;
}
.clear {
    clear: both;
}